# Setup:
#   cp ~/.config/fish/secrets.fish.example ~/.config/fish/secrets.fish
#   chmod 600 ~/.config/fish/secrets.fish
#   $EDITOR ~/.config/fish/secrets.fish
#
# set -gx GITHUB_TOKEN "ghp_..."
# set -gx GH_TOKEN "$GITHUB_TOKEN"
# set -gx OPENAI_API_KEY "sk-..."
# set -gx ANTHROPIC_API_KEY "sk-ant-..."
# set -gx WAKATIME_API_KEY "..."
